<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>chatsimple</title>
    <style>
#messages {
    height: 800px;
}
.message-card{
    width: 600px;
    height: 50px;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    background-color: lightgreen;
}

.message-card div{
    display: table-column-group;
    justify-content: space-between;
   
}
.element1 {
    font-style: normal;
    font-weight: 800;
    white-space: pre;
    max-width: 600px;
    overflow: auto;
}
.element2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
    max-width: 600px;
    overflow: auto;
    color: darkorchid;
}
    </style>
</head>
<body>
    <div class="container">
            
                <h1 class="text-center">
                    
                    <p><%= username %> Welcome to MSE Chat  <a href="/logout" class="btn btn-primary">Log out</a></p>
                </h1>
                <div id="status"></div>
                <div id="chat">
                   
                    <div class="card">
                        <div id = "messages" class="card-block">

                        </div>
                    </div>
                    
                    <textarea id = "textarea" class="form-control" placeholder="Enter message"></textarea>
                </div>
                <button id = "postbutton", class = "btn btn-primary">Post</button>
                <button id = "clearbutton", class = "btn btn-danger">Clear</button>
            
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
        const username  = '<%- JSON.stringify(username) %>'
        const messages = document.getElementById('messages')
        const textarea = document.getElementById('textarea')
        const postbutton = document.getElementById('postbutton')
        const clearbutton = document.getElementById('clearbutton')
        const socket = io.connect('http://127.0.0.1:5000')
        if(socket !== undefined){
                socket.on('output', (data) =>{
                    if(data.length){
                        data.forEach(element => {
                            let message = document.createElement('div')
                            let messagenamedate = document.createElement('div')
                            let messagems = document.createElement('div')
                            messagenamedate.classList.add('element1')
                            messagems.classList.add('element2')
                            messagenamedate.innerText = element.name+"   at    "+element.date.slice(0,10)+" "+element.date.slice(12,19)+":"
                            messagems.innerText = element.message
                            message.appendChild(messagenamedate)
                            message.appendChild(messagems)
                            message.classList.add('chat-message')
                            message.classList.add('message-card')
                            message.classList.add('card')
                            messages.appendChild(message)
                        });
                        
                    }
                });
                postbutton.addEventListener('click', () => {
                    socket.emit('chat', {
                        name:username,
                        message:textarea.value,
                        date: new Date()
                    });
                })
                clearbutton.addEventListener('click', () => {
                    socket.emit('clear');
                });

                socket.on('deleted', () => {
                    messages.innerHTML = '';
                });
            }
</script>
</html>